#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 30px rgba(255, 0, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 50px rgba(255, 0, 255, 1);
  }
  100% {
    box-shadow: 0 0 30px rgba(255, 0, 255, 0.5);
  }
}
@keyframes glowAnimation {
  0% {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.6), 0 0 30px rgba(0, 255, 255, 0.4);
  }
  50% {
    box-shadow: 0 0 40px rgba(0, 255, 255, 1), 0 0 50px rgba(0, 255, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.6), 0 0 30px rgba(0, 255, 255, 0.4);
  }
}
